{% extends "base.html" %} {% block content %}
<div class="row">
  <div class="col-sm-4">
    <br />
    <h4 class="text-center alert alert-info">Add New Student</h4>
    <form action="" method="post">
      {% csrf_token %}
      <label for="Name">Name: &nbsp;&nbsp;&nbsp;&nbsp;</label>
      <input type="text" id="Uname" name="Uname" class="form-control" /> <br />
      <label for="email">Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label>
      <input type="email" id="email" name="email" class="form-control" /><br />

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" class="form-control" />
      <br />

      <!-- Your form fields here -->
      <input type="submit" class="btn btn-success" value="Submit" />
    </form>
  </div>

  <div class="col-sm-6 offset-1">
    <br />
    <h4 class="text-center alert alert-info">Show Student Informations</h4>
    {% if data %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Password</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      {% for i in data %}

      <tbody>
        <tr>
          <th scope="row">{{i.id}}</th>
          <td>{{i.Uname}}</td>
          <td>{{i.email}}</td>
          <td>{{i.password}}</td>
          <td>
            <a href="{% url 'update' i.id %}" class="btn btn-warning btn-sm">Edit</a>
            <a href="{% url 'delete' i.id %}" class="btn btn-danger btn-sm">Delete</a>

            <!-- <form action="{% url 'delete' i.id %}" method="post" class="d-inline">
              {% csrf_token %}
              <input type="submit" class="btn btn-danger" value="Delete">
            </form> -->

          </td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
    {% else %}
    <h4 class="text-center alert alert-warning">Not Records</h4>
    {% endif %}
  </div>
</div>
{% endblock content %}